body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.charDetails-text{
 background: -webkit-linear-gradient(
    -45deg,
    rgb(248, 93, 111),
    orange,
    #ffc800,
    rgb(154, 150, 150),
    #ffc800,
    orange,
    rgb(248, 93, 111)
  );
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.greetings-text{
  @extend .charDetails-text;
  animation: gradientTextAnimation 16s ease-in-out alternate infinite;
}



@keyframes gradientTextAnimation{
 0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
